<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
     <img src="/assets/logo.JPG" alt="logo" width="40" height="32" class="d-inline-block align-text-top">PE_UNIQUE</a>
     
     <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav"> 
        <!--put code *ngIf="!currentUser || currentUser.role == Role.Customer after navbar-nav after roles will be implemented-->
        <a class="nav-link" routerLinkActive="active" routerLink="/home"
        [routerLinkActiveOptions]="{exact: true}">HOME</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/about"
        [routerLinkActiveOptions]="{exact: true}">ABOUT</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/yewelery"
        [routerLinkActiveOptions]="{exact: true}">YEWELERY</a>
      </div>
    </div>

    <div class="navbar-nav ml-auto">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <a class="nav-item nav-link " routerLink="/cart">
          <i class="fa fa-shopping-cart"></i>
      </a>
    </div>

     <!-- User section -->
     <div class="navbar-nav">
      <a class="nav-link" routerLinkActive="active" routerLink="/login"
        [routerLinkActiveOptions]="{exact: true}">Login</a>
     
      <a class="nav-link" routerLinkActive="active" routerLink="/signup"
        [routerLinkActiveOptions]="{exact: true}">Sign Up</a>
     </div>

    <!-- Search section
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
      </form> -->
      
  </div>
</nav>


