<div class="main-section">
  <div class=main-section-content>
    <div class="about-me-section">
      <h2>About PE_UNIQUE</h2>
      <p class="about-me-description">The Latvian brand Pe_unique is aimed at creative, active, and bright people, who are not afraid to show their individuality, be stylish and differ from others.
        Pe_unique offers individual tailoring, sale of ready-made garments and handmade jewelry, mainly earrings: for example, embroidered earrings in different techniques, earrings made of beads and crystals, asymmetrical earrings, mono earrings, earrings made of polymer clay or epoxy resin, earrings made in tatting technique, soutache.</p>
    </div>
  </div>

  <!--sidebar section-->
  <aside class="sidebar-section">
    <img class="img"src="assets/artist.jpg" alt="photo">

    <!--contacts section-->
    <div class="contacts-section">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <h3 class="sidebar-section-title">Contacts</h3>
      <div>
        <span class="contacts-section-type">WatsApp business account:</span>
        <a class="contacts-section-link" href="tel:+29889460">+29889460</a>
      </div>
      <div>
        <span class="contacts-section-type">Email:</span>
        <a class="contacts-section-link" href="mailto:peuniqelv@gmail.com">peuniqelv@gmail.com</a>
      </div>
      <div>
        <a href="https://www.instagram.com/pe_unique/" rel="noopener noreferrer" target="_blank"><i
          class="fa fa-instagram"> Instagram</i></a>>
      </div>
      <div>
        <a href="https://pin.it/3qpeGg6/" rel="noopener noreferrer" target="_blank"><i
          class="fa fa-pinterest"> Pinterest</i></a>
      </div>
    </div>
  </aside>

</div>


